# STM32 git ignore
# eclipse specific git ignore
**/.metadata/
**/.settings/*
*.launch
**/Debug/*
!**/Debug/prebuild.py
!**/Debug/appver.h
#**/Debug/Core
#**/Debug/Drivers


#git check-ignore -v STM32G030K6T6\ControlHub\Debug\appver.h

